@{
}
<div class="container">
    <div class="row">
        <form class="col-4" method="post" action="allrasxod">
            <label class="form-label">Цена топлива</label><br />
            <input class="form-control" type="number" name="price" />
            <br />
            <button class="btn btn-success mt-1" type="submit">Send</button>
        </form>
    </div>
</div>

